<div class="container-fluid">
  <h2 class="side-head">Farm Products</h2>
  <div class="row mt-5 ">
    <div class="col-md-3 mb-5" *ngFor='let product of products; let i =index'>
      <div class="card">
        <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap" style="width: 100%; height: 180px;">
        <div class="card-body">
          <h5 class="card-title">{{product.productName}}</h5>
          <p class="card-text"><strong>Price: </strong>{{product.price | currency:currencyCode:"₹"}} per {{product.quantity}}</p>
        </div>
        <div class="card-footer text-center bg-success">
        <a routerLink="/single/{{product._id}}"> <strong class="text-white">View Details</strong></a> 
        <a *ngIf="_authService.adminloggedIn() && _authService.getIsAdmin()" routerLink="/update/{{product._id}}"><i class="fa fa-pencil fa-xs pl-1 pr-1" style="font-size:30px; color:blue" aria-hidden="true"></i></a>
        <i *ngIf="_authService.adminloggedIn()  &&  _authService.getIsAdmin()" class="fa fa-trash fa-xs" (click)=delete(product,i) style="font-size:30px; color:red" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
